.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(148, 201, 230);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.li{
  background-color: #8bcbdb;
  border-radius: 20px;
  padding-bottom: 2px;
  color:  rgb(47, 70, 216);
  font-weight: bold;


}

.bgChange{
  background-color: #194652;
padding: 10px;
border-radius: 20px;

}
.place{
  width: 18rem;
  height: 25px;
  border: 2px solid  black;
  border-radius: 10px;
  padding-left: 10px;
  margin: 8px;
  font-weight: bolder;
  font-size: 20px;
}

.placeAdd{
  width: 7rem;
  height: 30px;
  border: 2px solid  black;
  border-radius: 10px;
  background-color: rgb(3, 51, 3);
  color: white;
  font-weight: bold;
  font-size: 15px;
  margin: 2px;
  cursor: pointer;
}
.placeAdd:hover{
  background-color:  rgb(28, 93, 28);
}
.placeDlt {
  width: 7rem;
  height: 30px;
  border: 2px solid  black;
  border-radius: 10px;
  background-color: rgb(156, 19, 19);
color: white;
font-weight: bold;
  font-size: 15px;
  margin: 2px;
  cursor: pointer;

}
.placeDlt:hover{
  background-color: rgb(164, 49, 49);
}
.placeUpdate{
  width: 7rem;
  height: 30px;
  border: 2px solid  black;
  border-radius: 10px;
  background-color: rgb(224, 224, 41);
  color: rgb(10, 0, 0);
  font-weight: bold;
    font-size: 15px;
  cursor: pointer;

}
.dleteBtn{
  width: 5rem;
  height: 30px;
  border: 2px solid  black;
  border-radius: 10px;
  background-color: rgb(156, 19, 19);
color: white;
font-weight: bold;
  font-size: 15px;
  margin: 2px;
  cursor: pointer;
  
}
.editBtn{
  width: 5rem;
  height: 30px;
  border: 2px solid  black;
  border-radius: 10px;
  background-color: rgb(19, 37, 156);
color: white;
font-weight: bold;
  font-size: 15px;
  margin: 2px; 
  cursor: pointer;

}
